@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
  }

.entrada {
  width: 375px;
  height: 667px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-uol {
margin-top: 72px;
margin-bottom: 94px;
}

.input-entrada input {
width: 261px;
height: 54px;
border-radius: 4px;
background: #FFFFFF;
border: 1px solid #D7D7D7;
color: #AEAEAE;
font-family: 'Roboto';
font-weight: 400;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
}

.entrar {
  width: 109px;
  height: 45px;
  border-radius: 9px;
  background-color: #E7E7E7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.loader img {
  width: 90px;
  height: 90px;
}

.loader p{
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.selecionado {
  pointer-events: none;
}


.entrar p {
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #696969;
}

.container {
    width: 375px;
    height: 667px;
    background-color: #E5E5E5;
}

header {    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    top: 0; 
}

header,
footer {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    margin-left: 22px;
}

.logo,
.icon {
    height: 80px;  
    display: flex;
    align-items: center; 
}

.icon {
    width: 46px;
    margin-right: 21px;
}

.text-container {
    width: 375px;
    height: auto;
    overflow: hidden;
    padding-top: 106px;
    padding-bottom: 80px;
}

.text {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.text p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-left: 8px;
  margin-right: 9px;
  color: #000000;
}

.horario {
  color: #AAAAAA;
}

footer {
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 0;
    bottom: 0;
}

.type {
    width: 300px;
    margin-left: 17px;
}

.type,
.send {
    height: 80px;
    display: flex;
    align-items: center; 
}

.send {
    width: 28px;
    margin-right: 27px;
}

.type input {
    width: 290px;
    height: 35px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: #000000;
  }

  .fundo {
    width: 375px;
    height: 667px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    z-index: 5;
  }

  .icon-container {
    width: 259px;
    height: 667px;
    background-color: #FFFFFF;
    z-index: 10;
    position: fixed;
    left: 0;
    margin-left: 116px;

  }

  .contato,
  .visibilidade {
    width: 259px;
    height: 84px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  .lista {
    width: 239px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  li img {
    margin-right: 8px;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;

  }

  .hidden {
    display: none;
  }

  .status,
  .message {
    width:375px;
    height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 4px;
    border-radius: 2px;
  }

  .private-message {
    width:375px;
    height: auto;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 4px;
    border-radius: 2px;
    background-color: #FFDEDE;
  }

  .status {
    background-color: #DCDCDC;
  }

  .message {
    background-color:#FFFFFF;
  }

 
  
